@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

label {
  @apply text-blue-600 font-bold;
}

button {
  @apply text-white py-2 px-3 bg-black rounded-md;
}
